.formStyle{
	padding: 16px;
}

.formStyle input{
	background: transparent;
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 4px 10px;
	transition: border-bottom-color 0.25s ease-out;
	margin: 1px 10px;
}

.formStyle button{
	background: rgb(88, 214, 141); border: none; color: white; font-size: 14px; padding: 8px;
}